
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  max-width: 1200px;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-dropdown {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.category-dropdown option:checked { 
  background-color: #000000 !important; 
  color: #fff !important;
}

.search-bar {
  flex: 1; /* Take remaining space */
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.date-picker {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
}

.category-dropdown,
.search-bar,
.date-picker {
  background: rgba(255, 255, 255, 0.8) !important;
  border-radius: 8px !important;
  border: 2px solid rgba(0, 0, 0, 0.8) !important;
  transition: all 0.2s ease-in-out;
}

.category-dropdown:focus,
.category-dropdown:active,
.category-dropdown:checked,
.category-dropdown.selected,
.category-dropdown:hover,
.search-bar:focus,
.search-bar:active,
.search-bar:checked,
.search-bar.selected,
.search-bar:hover,
.date-picker:focus, 
.date-picker:active, 
.date-picker:checked, 
.date-picker.selected, 
.date-picker:hover,
.ant-picker:focus, 
.ant-picker:active, 
.ant-picker:checked, 
.ant-picker.selected, 
.ant-picker:hover  { 
  filter: invert(80%);
}

/* Additional styles to ensure calendar dropdown is below the search container and remove the arrow pointers */ 
.ant-picker-dropdown {
  position: fixed; /* Position fixed to ensure it's centered on screen */
  top: 57% !important; /* Center vertically */
  left: 50% !important; /* Center horizontally */
  transform: translate(-50%, -50%) !important; /* Adjust to align center */
  z-index: 1000; /* Ensure it appears above other elements */
}

.ant-picker-dropdown .ant-picker-range-arrow { display: none !important; /* Hide the arrow pointers */ }

.search-button {
  padding: 7px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.search-button:hover {
  filter: invert(80%);
}

.search-button svg {
  width: 24px; 
  height: 24px;
}

/* ----------------------------------------------------------------------- */

@media screen and (max-width: 960px) 
{
  .search-container {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    padding: 20px;
  }

  .category-dropdown,
  .search-bar,
  .date-picker {
    width: 100%;
    font-size: 16px;
  }

  .search-bar {
    padding: 15px;
    margin-top: 0px !important;
  }

  .ant-picker-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
  
  .ant-picker-panels {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ant-picker-calendar {
    margin: 10px 0;
  }

  .ant-picker-dropdown {
    position: fixed; /* Position fixed to ensure it's centered on screen */
    top: 50% !important; /* Center vertically */
    left: 50% !important; /* Center horizontally */
    transform: translate(-50%, -50%) !important; /* Adjust to align center */
    z-index: 1000; /* Ensure it appears above other elements */
  }
}