
.dashboard {  
  display: flex;
  height: 90vh;
  flex-grow: 1;
}

.side-menu {
  color: white;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  background: linear-gradient(360deg, #242424 50%, #1967d2 100%);
  padding: 20px 0;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.profile-pic {
  text-align: center;
  margin: 0px  30px  5px  30px;
  padding-top: 0px;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-pic button {
  text-align: center;
  margin: 1px 5px;
  padding: 2px 6px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;
  transition: all 0.2s ease-in-out;
}
.profile-pic button:hover {
  filter: invert(90%);
}

.profile-pic .edit-pic {
  width: 22px;
  height: 22px;
  margin: 5px 2px 2px 2px;
}

.profile-pic .save-pic {
  width: 22px;
  height: 22px;
  margin: 5px 2px 2px 2px;
}

.side-menu h4 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.side-menu .type {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.side-menu .email {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.side-menu li:hover {
  font-weight: 600;
  color: #ffffff;
  background-color: #1966d25b;
}

.side-menu li.active {
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
}

.content {
  flex: 1; 
  display: flex; 
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  color: #000000;
  flex-grow: 1;
  padding: 50px 100px;
  overflow-y: auto;
}

.section {
  margin-bottom: 20px;
}

.section-box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-header {
  text-align: center;
  background: linear-gradient(45deg, #242424 20%, #1967d2 100%);
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.section p,
.section input {
  margin: 5px 0;
  font-size: 16px !important;
}

.content .form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content .form-col {
  flex: 1;
  min-width: 300px;
}

.content .form-col label {
  display: block;
  margin-bottom: 5px !important;
  font-weight: 600;
}

.content .phone label {
  display: block;
  margin-bottom: 5px !important;
  font-weight: 600;
}

.content form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.content form button {
  display: inline-block;
  margin: 20px 10px 0px 0px;
  padding: 10px 40px;
  min-width: 200px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #242424, #1967d2);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  align-self: center;
  transition: all 0.2s ease-in-out;
}

.content form button:hover {
  background: linear-gradient(45deg, #1967d2, #242424);
  scale: 102%;
}


.section-header-wish {
  margin-bottom: 0px !important;
}

.wish-box {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.wish-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wish-box {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.wishlist-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  width: 100%;
}

.wishlist-item-details {
  flex: 1;
}

.wishlist-item-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wishlist-item h3 {
  margin: 3px 0px 3px 0px;
  font-size: 2rem;
  font-weight: 600;
}

.wishlist-item p {
  margin: 5px 0;
}

/* Make all event details text uppercase */
.wishlist-item-details h3 {
  text-transform: uppercase;
}

.button-wish button {
  padding: 8px;
  margin: 5px 0;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #242424, #1967d2);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  align-self: center;
  transition: all 0.2s ease-in-out;
}

.button-wish button:hover {
  background: linear-gradient(45deg, #1967d2, #242424);
  scale: 102%;
}

.wishlist-item-details button {
  min-width: 80%;
  margin: 10px 10px 5px 0px;
  padding: 10px 40px;
}

.wishlist-item-actions button {
  min-width: 100%;
  margin: 5px 0px 5px 0px;
  padding: 10px 60px;
}

.share-item-actions {
  display: flex; 
  flex-direction: column; 
  gap: 10px; 
  padding: 10px; 
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin-top: 0px;
  min-width: 50%;
}

.share-item-actions span {
  display: flex;
  flex-direction: column; 
  gap: 1px;
  font-size: 14px; 
  color: #333;
}

.share-item-actions span strong {
  font-weight: 600; 
  color: #555;
}

.share-item-actions hr {
  margin: 0 !important;
}

.cs-btn {
  font-weight: 600;
  background: #555 !important;
  transition: none !important;
  cursor: default !important;
}

.cs-btn:hover {
  scale: none !important;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

.modal-content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.input-field {
  margin-bottom: 10px;
}

.textarea-field {
  height: 100px;
  resize: vertical;
}

.removal-txt,
.red-txt {
  display: inline;
  margin-bottom: 0px !important;
}

.red-txt {
  color: red !important;
  font-weight: 600;
}

.modal-actions button {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 10px 40px;
  max-width: 200px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #242424, #1967d2);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  align-self: center;
  transition: all 0.2s ease-in-out;
}

.modal-actions button:hover {
  background: linear-gradient(45deg, #1967d2, #242424);
  scale: 102%;
}

.remove-btn {
  background: #000000 !important;
  transition: all 0.3s ease-in-out;
}

.remove-btn:hover {
  filter: invert(80%);
}

/* ----------------------------------------------------------------------- */

@media screen and (max-width: 960px) 
{ 
  .side-menu {
    font-size: 1.2rem;
    width: 180px;
    padding: 15px 0;
  }

  .profile-pic {
    margin: 0px  30px  5px  30px;
    padding-top: 0px;
  }

  .profile-pic img {
    width: 120px;
    height: 120px;
  }

  .profile-pic .edit-pic {
    width: 20px;
    height: 20px;
  }

  .profile-pic .save-pic {
    width: 20px;
    height: 20px;
  }

  .side-menu h4 {
    font-size: 18px;
  }

  .side-menu .email {
    font-size: 12px;
  }

  .content {
    padding: 0px 20px;
  }

  .content .form-row {
    gap: 10px;
  }

  .section-header {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .section-title {
    font-size: 1.5rem;
  }

  .section p,
  .section input {
    margin: -5px 0;
    font-size: 12px !important;
    padding: 5px !important;
  }

  .content .form-col {
    min-width: 200px;
  }

  .content .form-col label {
    font-size: 12px;
    margin-bottom: 10px !important;
  }

  .content .phone label {
    display: block;
    margin-bottom: 10px !important;
    font-weight: 600;
  }

  .content form input {
    width: 100%;
    margin-bottom: 0px;
  }

  .content form button {
    margin: 15px 0px -10px 0px !important;
    min-width: 100%;
    font-size: 12px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1150px) and (min-width: 960px) 
{
  .side-menu {
    font-size: 1.2rem;
    width: 200px;
    padding: 15px 0;
  }

  .profile-pic {
    margin: 0px  30px  5px  30px;
    padding-top: 0px;
  }

  .profile-pic img {
    width: 140px;
    height: 140px;
  }

  .profile-pic .edit-pic {
    width: 20px;
    height: 20px;
  }

  .profile-pic .save-pic {
    width: 20px;
    height: 20px;
  }

  .section-header {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 1.5rem;
  }

  .content {
    padding: 0px 20px;
  }

  .content .form-col {
    min-width: 300px;
  }

  .content form input {
    width: 100%;
    margin-bottom: 10px;
  }
}