
.dashboard {  
  display: flex;
  height: 90vh;
  flex-grow: 1;
}

.side-menu {
  color: white;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  background: linear-gradient(360deg, #242424 50%, #1967d2 100%);
  padding: 20px 0;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.profile-pic {
  text-align: center;
  margin: 30px;
  margin-top: 0px;
  padding-top: 0px;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-pic button {
  text-align: center;
  margin: 1px 5px;
  padding: 2px 6px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;
  transition: all 0.2s ease-in-out;
}
.profile-pic button:hover {
  filter: invert(90%);
}

.profile-pic .edit-pic {
  width: 22px;
  height: 22px;
  margin: 5px 2px 2px 2px;
}

.profile-pic .save-pic {
  width: 22px;
  height: 22px;
  margin: 5px 2px 2px 2px;
}

.side-menu h4 {
  font-size: 20px;
  margin-top: -15px;
  margin-bottom: 0px;
}

.side-menu .type {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.side-menu .email {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.side-menu li:hover {
  color: #ffffff;
  background-color: #1966d25b;
}

.side-menu li.active {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}

.content {
  flex: 1; 
  display: flex; 
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  color: #000000;
  flex-grow: 1;
  padding: 50px 100px;
  overflow-y: auto;
}

.section {
  margin-bottom: 20px;
}

.section-box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-header {
  text-align: center;
  background: linear-gradient(45deg, #242424 20%, #1967d2 100%);
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 2rem;
  margin: 0;
}

.section p,
.section input {
  margin: 5px 0;
  font-size: 16px !important;
}

.content .form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content .form-col {
  flex: 1;
  min-width: 300px;
}

.content .form-col label {
  display: block;
  margin-bottom: 5px !important;
  font-weight: bold;
}

.content .phone label {
  display: block;
  margin-bottom: 5px !important;
  font-weight: bold;
}

.content form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.content form button {
  display: inline-block;
  margin: 20px 10px 0px 0px;
  padding: 10px 40px;
  min-width: 200px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #242424, #1967d2);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  align-self: center;
  transition: all 0.2s ease-in-out;
}

.content form button:hover {
  background: linear-gradient(45deg, #1967d2, #242424);
  scale: 102%;
  
}

/* ----------------------------------------------------------------------- */

@media screen and (max-width: 960px) 
{ 
  .side-menu {
    font-size: 1.2rem;
    width: 180px;
    padding: 15px 0;
  }

  .profile-pic {
    margin: 40px 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .profile-pic img {
    width: 120px;
    height: 120px;
  }

  .profile-pic .edit-pic {
    width: 20px;
    height: 20px;
  }

  .profile-pic .save-pic {
    width: 20px;
    height: 20px;
  }

  .side-menu h4 {
    font-size: 18px;
  }

  .side-menu .email {
    font-size: 12px;
  }

  .content {
    padding: 0px 20px;
  }

  .content .form-row {
    gap: 10px;
  }

  .section-header {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .section-title {
    font-size: 1.5rem;
  }

  .section p,
  .section input {
    margin: -5px 0;
    font-size: 12px !important;
    padding: 5px !important;
  }

  .content .form-col {
    min-width: 200px;
  }

  .content .form-col label {
    font-size: 12px;
    margin-bottom: 10px !important;
  }

  .content .phone label {
    display: block;
    margin-bottom: 10px !important;
    font-weight: bold;
  }

  .content form input {
    width: 100%;
    margin-bottom: 0px;
  }

  .content form button {
    margin: 15px 0px -10px 0px !important;
    min-width: 100%;
    font-size: 12px;
  }
}

@media screen and (max-width: 1150px) and (min-width: 960px) 
{
  .side-menu {
    font-size: 1.2rem;
    width: 200px;
    padding: 15px 0;
  }

  .profile-pic {
    margin: 50px 10px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .profile-pic img {
    width: 140px;
    height: 140px;
  }

  .profile-pic .edit-pic {
    width: 20px;
    height: 20px;
  }

  .profile-pic .save-pic {
    width: 20px;
    height: 20px;
  }

  .section-header {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 1.5rem;
  }

  .content {
    padding: 0px 20px;
  }

  .content .form-col {
    min-width: 300px;
  }

  .content form input {
    width: 100%;
    margin-bottom: 10px;
  }
}