
.edit-event-container {
  padding: 50px;
  max-width: 1600px;
  margin: auto;
}

.event {
  display: flex;
  flex-grow: 1;
}

.event-preview {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
}

.event-cover img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
  border-radius: 8px;
}

.event-cover button {
  text-align: center;
  margin: 20px 5px;
  padding: 2px 6px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;
  transition: all 0.2s ease-in-out;
}
.event-cover button:hover {
  filter: invert(90%);
}

.event-cover .edit-cover {
  width: 22px;
  height: 22px;
  margin: 5px 2px 2px 2px;
}

.event-cover .save-cover {
  width: 22px;
  height: 22px;
  margin: 5px 2px 2px 2px;
}

.event-form {
  min-width: 100%;
}

.event-edit {
  flex: 1; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  color: #000000;
  flex-grow: 1;
  padding: 0px 0px 50px 50px;
}

.event-edit .form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.event-edit .form-group label {
  display: block;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px !important;
}

.event-edit p {
  margin-top: -10px;
  margin-bottom: 10px;
}

.event-edit input,
.event-edit textarea,
.event-edit select {
  margin: 0 0;
  font-size: 16px !important;
}

.event-edit form input,
.event-edit form textarea,
.event-edit form select {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 1px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  min-width: 100%;
}

.description-input {
  min-height: 100px; 
  resize: none !important;
}

.event-form .form-group {
  display: flex;
  flex-direction: column;
}

.menu-div {
  width: 100%; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.menu-div .menu-button {
  background: linear-gradient(45deg, #242424, #1967d2);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0px 0px 0px; 
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.event-form .submit-button,
.event-form .back-button,
.event-form .save-catg {
  background: linear-gradient(45deg, #242424, #1967d2);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
  margin: 0px 10px 10px 0px;
  min-width: 100%;
  transition: all 0.2s ease-in-out;
}

.event-form .save-catg {
  margin-bottom: 30px;
}

.menu-div .menu-button:hover,
.event-form .submit-button:hover,
.event-form .back-button:hover,
.event-form .save-catg:hover {
  background: linear-gradient(45deg, #1967d2, #242424);
  scale: 102%;
}

.button-box {
  padding: 20px 10px 10px 10px;
  background: rgba(255, 255, 255, 0);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px 0px 0px 0px;
}

.button-box-c-e {
  padding: 10px 10px 20px 10px;
  background: rgba(255, 255, 255, 0);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px 0px 0px 0px;
}

.button-line {
  margin: 10px 0px 20px 0px;
}

.event {
  gap: 20px;
}

.event-edit {
  background: linear-gradient(45deg, #ffffff 50%, #e3e5e9 100%);
  padding: 20px;
  border-radius: 8px;
}

.event-form-span {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.form-group span {
  font-size: 14px;
  color: #555555;
  background-color: #f8f9fa;
  padding: 8px 10px;
  border-radius: 4px;
  width: 100%;
}

/* Container for the input and button */
.new-category-container {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
  
}

/* Style the event header container */
.event-header {
  color: white;
  display: flex;
  text-align: center;
  align-items: center;  /* Vertically center the items */
  justify-content: space-between;  /* Space out the items */
  padding: 20px;
  background: linear-gradient(45deg, #242424 20%, #1967d2 100%);
  border-radius: 8px;
  margin-bottom: 50px;
}

.event-header-c-e {
  color: white;
  display: flex;
  text-align: center;
  align-items: center;  /* Vertically center the items */
  justify-content: center;  /* Space out the items */
  padding: 20px;
  background: linear-gradient(45deg, #242424 20%, #1967d2 100%);
  border-radius: 8px;
  margin-bottom: 50px;
}

.event-title {
  font-size: 36px;
  margin: 0;
}

.event-title span {
  font-size: 28px;
  color: #000000;
}

.event-header .explore-button {
  display: flex;      
  align-items: center;    
  gap: 15px;               
  padding: 10px 20px;
  font-size: 14px;
  background: linear-gradient(45deg, #242424, #1967d2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.event-header .explore-button:hover {
  background: linear-gradient(45deg, #1967d2, #242424);
  scale: 102%;
}

.event-header .explore-button svg {
  width: 24px;              
  height: 24px;
}

.event-header .explore-button p {
  margin: 0;              
  font-size: 14px;         
  color: #fff;    
}

.wishlist-button {
  padding: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.wishlist-button:hover {
  transform: scale(120%);
}

/* Style the SVG icon for the wishlist button */
.wishlist-button svg {
  height: 40px;
  width: 40px;
  fill: #ffc701;
  transition: all 0.3s ease-in-out;
}

/* Change the color of the SVG icon when hovering the wishlist button */
.wishlist-button:hover svg {
  filter: brightness(110%)
}