
.register-page {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: #fff;
}

.left-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-section label { font-weight: 600; }

.right-section {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-page .logo {
  font-size: 80px;
  /* font-weight: bold; */
  color: #000;
  margin-bottom: 20px;
}

.register-page .logo img {
  width: 120px;
  height: 120px;
  transform: translateY(20%);
  margin-left: -25px;
}

.register-page h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #000;
}

.register-page u { font-weight: 600; }

.input-group {
  width: 500px;
  margin-bottom: 20px;
  text-align: left;
}

.register-page input[type="email"],
.register-page input[type="password"],
.register-page input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

.password-container { position: relative; }

.register-page .password-container .eye-close { margin-bottom: 1px; }

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-40%);
  cursor: pointer;
  user-select: none;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}

.register-button:hover { background-color: #444; }

.register-page p { margin-top: 20px; }

.register-page a {
  color: #000;
  text-decoration: none;
}

.register-page u:hover { color: #1967d2; }

.register-page .background {
  width: 100%;
  height: 100%;
  background: url('/public/images/img-2.jpg') center center/cover no-repeat;
  position: relative;
}

.register-page .background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* ----------------------------------------------------------------------- */

@media screen and (max-width: 960px) 
{
  .register-page {
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: #fff;
    flex-direction: column;
    align-items: stretch;
    justify-content:center;
    gap: 15px;
    padding: 20px;
    margin-top: 20px;
  }

  .register-page .logo { font-size: 50px; }

  .register-page .logo img {
    width: 80px;
    height: 80px;
    transform: translateY(20%);
    margin-left: -15px;
  }

  .register-page h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .register-page p { margin: 20px 50px; }

  .input-group { width: 100%; }
  
  .register-page .background, 
  .register-page .background::before {
    background: none;
  }
}

@media screen and (max-width: 500px) 
{ 
  .left-section { padding: 10px 10px; }

  .register-page .logo { font-size: 44px; }

  .register-page h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .register-page p {
    font-size: 16px;
    margin: 20px 30px;
  } 
  
  .register-page input[type="email"],
  .register-page input[type="password"],
  .register-page input[type="text"] {
    font-size: 12px;
  }
}